@use "../../styles/abstracts" as *;

.app-bg {
  &--theme-light {
    background-color: $color-app-bg--light;

    .app-top-bg {
      background-color: $color-app-bg__top--light;
    }
  }

  &--theme-dark {
    background-color: $color-app-bg--dark;

    .app-top-bg {
      background-color: $color-app-bg__top--dark;
    }
  }
}

.app-top-bg {
  height: 296px;
  border-radius: 0 0 16px 16px;
}
