@use "../../styles/abstracts" as *;

.app-bg {
  &--theme-light {
    background-color: $color-app-bg--light;
  }
  &--theme-light .app-top-bg {
    background-color: $color-app-bg__top--light;
  }

  &--theme-dark {
    background-color: $color-app-bg--dark;
  }
  &--theme-dark .app-top-bg {
    background-color: $color-app-bg__top--dark;
  }
}

.app-top-bg {
  position: absolute;
  inset: 0 0 auto 0;
  height: 296px;
  border-radius: 0 0 16px 16px;
  z-index: 0;
}
