@use "../../styles/abstracts" as *;

.dashboard-content-ctn {
  padding-top: 48px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.dashboard-content {
  width: 85%;
  max-width: 1464px;
  row-gap: 36px;
}

.header-text {
  h1,
  span,
  label {
    font-weight: 700;
  }

  &--light {
    h1 {
      color: $color-text-2--light;
    }
    span,
    label {
      color: $color-text-1--light;
    }
  }

  &--dark {
    h1 {
      color: $color-text-2--dark;
    }
    span,
    label {
      color: $color-text-1--dark;
    }
  }
}

.theme-toggle {
  column-gap: 8px;
}
