@use "../../../styles/abstracts" as *;

.sm-card {
  border-radius: 6px;
  background-color: $color-card-bg--light;

  &--main {
    padding: 2.25rem 0 2rem;
    border-top-width: 5px;
    border-top-style: solid;

    $border-top-color-variants: (
      "facebook": $color-primary--facebook,
      "twitter": $color-primary--twitter,
      "instagram": $color-primary--instagram,
      "youtube": $color-primary--youtube,
    );

    @each $platform, $border-top-color in $border-top-color-variants {
      &--#{$platform} {
        border-top-color: $border-top-color;
      }
    }
  }
}

.platform-handle {
  column-gap: 8px;

  > img {
    $icon-dimension: 1.5rem;

    width: $icon-dimension;
    height: $icon-dimension;
  }

  > span {
    font-weight: 700;
    color: $color-text-1--light;
  }
}

.follower-count-ctn {
  column-gap: 4px;
  margin-top: 20px;

  &__count {
    font-weight: 700;
    letter-spacing: -0.1rem;
  }

  &__label {
    text-transform: uppercase;
    color: $color-text-1--light;
    letter-spacing: 0.23rem;
  }
}

.count-change-text {
  column-gap: 2px;
  margin-top: 32px;

  > img {
    width: 0.7rem;
    height: 0.4rem;
  }

  > span {
    font-weight: 700;
  }

  &--rise {
    color: $color-primary--lime-green;
  }

  &--fall {
    color: $color-primary--bright-red;
  }
}
