* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s linear 0.3s, color 0.2s linear;
}

#root {
  font-family: "Inter", sans-serif;
}

$heading-font-sizes: (
  "h1": 4rem,
  "h2": 1.94rem,
  "h3": 1.7rem,
  "h4": 1rem,
  "h5": 0.875rem,
);

@each $heading, $font-size in $heading-font-sizes {
  .#{$heading} {
    font-size: $font-size;
  }
}

.bold {
  font-weight: 700;
}
