.d-flex,
.flex-sb,
.vc,
.vcsb,
.stack,
.stack-hc,
.stack-hcsb {
  display: flex;
}

.stack,
.stack-hc,
.stack-hcsb {
  flex-direction: column;
}

.vc,
.vcsb,
.stack-hc,
.stack-hcsb {
  align-items: center;
}

.flex-sb,
.vcsb,
.stack-hcsb {
  justify-content: space-between;
}
